Web References/WsChnlHoliday_Enquiries/enquiries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://holidaylettings.co.uk/webservices/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://holidaylettings.co.uk/webservices/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://holidaylettings.co.uk/webservices/">
      <s:element name="FetchEnquiries">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ownerId" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:FetchEnquiriesRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchEnquiriesRequest">
        <s:complexContent mixed="false">
          <s:extension base="tns:Request">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="HomeId" nillable="true" type="s:long" />
              <s:element minOccurs="1" maxOccurs="1" name="FromDate" nillable="true" type="s:dateTime" />
              <s:element minOccurs="1" maxOccurs="1" name="FetchedEnquiriesLimit" nillable="true" type="s:long" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Request" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Test" nillable="true" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="RecordsAffected" nillable="true" type="s:long" />
        </s:sequence>
      </s:complexType>
      <s:element name="FetchEnquiriesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FetchEnquiriesResult" type="tns:FetchWebServiceResponseOfEnquiryDto" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FetchWebServiceResponseOfEnquiryDto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FetchedData" type="tns:ArrayOfEnquiry" />
          <s:element minOccurs="0" maxOccurs="1" name="WebServiceResponse" type="tns:WebServiceResponse" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfEnquiry">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Enquiry" nillable="true" type="tns:Enquiry" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Enquiry">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="EnquiryId" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="HomeId" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="FromEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ToEmail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="HolidayStartDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="HolidayEndDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="GuestsAdults" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="GuestsChildren" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EnquiryDate" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="Source" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FromTelephone" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WebServiceResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Success" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="ErrorCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Messages" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="OAuthSoapHeader" type="tns:OAuthSoapHeader" />
      <s:complexType name="OAuthSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="OauthToken" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OauthTokenSecret" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="FetchEnquiriesSoapIn">
    <wsdl:part name="parameters" element="tns:FetchEnquiries" />
  </wsdl:message>
  <wsdl:message name="FetchEnquiriesSoapOut">
    <wsdl:part name="parameters" element="tns:FetchEnquiriesResponse" />
  </wsdl:message>
  <wsdl:message name="FetchEnquiriesOAuthSoapHeader">
    <wsdl:part name="OAuthSoapHeader" element="tns:OAuthSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="enquiriesSoap">
    <wsdl:operation name="FetchEnquiries">
      <wsdl:input message="tns:FetchEnquiriesSoapIn" />
      <wsdl:output message="tns:FetchEnquiriesSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="enquiriesHttpGet" />
  <wsdl:binding name="enquiriesSoap" type="tns:enquiriesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchEnquiries">
      <soap:operation soapAction="http://holidaylettings.co.uk/webservices/FetchEnquiries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:FetchEnquiriesOAuthSoapHeader" part="OAuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="enquiriesSoap12" type="tns:enquiriesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FetchEnquiries">
      <soap12:operation soapAction="http://holidaylettings.co.uk/webservices/FetchEnquiries" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:FetchEnquiriesOAuthSoapHeader" part="OAuthSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="enquiriesHttpGet" type="tns:enquiriesHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:service name="enquiries">
    <wsdl:port name="enquiriesSoap" binding="tns:enquiriesSoap">
      <soap:address location="https://agentapi.holidaylettings.co.uk/v0/secure/enquiries.asmx" />
    </wsdl:port>
    <wsdl:port name="enquiriesSoap12" binding="tns:enquiriesSoap12">
      <soap12:address location="https://agentapi.holidaylettings.co.uk/v0/secure/enquiries.asmx" />
    </wsdl:port>
    <wsdl:port name="enquiriesHttpGet" binding="tns:enquiriesHttpGet">
      <http:address location="https://agentapi.holidaylettings.co.uk:80/v0/secure/enquiries.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>