Web References/WS_Srs/WS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.shortrentalsolution.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.shortrentalsolution.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.shortrentalsolution.com/">
      <s:element name="LocationEvent_Insert_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ref_id_caller" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ref_pid_event" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ref_pid_location" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="sequence" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dtRentStart" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dtRentEnd" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="date_start_event" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="rent_client_name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rent_client_contact_phone_mobile" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rent_client_contact_phone_trip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rent_client_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="rent_voucherLink" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="person_qty" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pr_rent_part_payment_total" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="pr_rent_part_owner" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="pr_rent_payed" type="s:decimal" />
            <s:element minOccurs="1" maxOccurs="1" name="pr_rent_deposit" type="s:decimal" />
            <s:element minOccurs="0" maxOccurs="1" name="ref_eventNotes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pr_depositNotes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="limoParams" type="tns:LimoParams" />
            <s:element minOccurs="1" maxOccurs="1" name="isDateTimeChanged" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="LimoParams">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="limo_in_datetime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="limo_in_isRequested" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_inPoint_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_inPoint_transportType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limo_inPoint_pickupPlace" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_inPoint_pickupPlaceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_inPoint_details" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limo_inPoint_detailsType" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="limo_out_datetime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="limo_out_isRequested" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_outPoint_type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_outPoint_transportType" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limo_outPoint_pickupPlace" nillable="true" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_outPoint_pickupPlaceName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="limo_outPoint_details" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="limo_outPoint_detailsType" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LocationEvent_Insert_UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationEvent_Insert_UpdateResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="LocationEvent_Delete">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ref_id_caller" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ref_pid_event" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationEvent_DeleteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationEvent_DeleteResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LocationEvent_DeleteList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ref_id_caller" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ref_pid_event_list" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="LocationEvent_DeleteListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="LocationEvent_DeleteListResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Location_Insert_Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="zone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="ref_id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ref_pid_location" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="is_active" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="single_bed_quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="double_bed_quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="bathroom_quantity" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="cleaning_time_minutes" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="latitude_longitude" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Location_Insert_UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Location_Insert_UpdateResult" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="errorMsg" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="LocationEvent_Insert_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:LocationEvent_Insert_Update" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_Insert_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:LocationEvent_Insert_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_Insert_UpdateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_DeleteSoapIn">
    <wsdl:part name="parameters" element="tns:LocationEvent_Delete" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_DeleteSoapOut">
    <wsdl:part name="parameters" element="tns:LocationEvent_DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_DeleteAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_DeleteListSoapIn">
    <wsdl:part name="parameters" element="tns:LocationEvent_DeleteList" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_DeleteListSoapOut">
    <wsdl:part name="parameters" element="tns:LocationEvent_DeleteListResponse" />
  </wsdl:message>
  <wsdl:message name="LocationEvent_DeleteListAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="Location_Insert_UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Location_Insert_Update" />
  </wsdl:message>
  <wsdl:message name="Location_Insert_UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:Location_Insert_UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="Location_Insert_UpdateAuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="WSSoap">
    <wsdl:operation name="LocationEvent_Insert_Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di archiviare una nuova prenotazione o di fare l'update di una pre-esistente, restituendo l'ID del db di ShortRentalSolution. Se minore di zero allora si otterrà anche un messaggio di errore</wsdl:documentation>
      <wsdl:input message="tns:LocationEvent_Insert_UpdateSoapIn" />
      <wsdl:output message="tns:LocationEvent_Insert_UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationEvent_Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di eliminare una prenotazione nel db di ShortRentalSolution. Se ritorna valore minore di zero allora si otterrà anche un messaggio di errore</wsdl:documentation>
      <wsdl:input message="tns:LocationEvent_DeleteSoapIn" />
      <wsdl:output message="tns:LocationEvent_DeleteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="LocationEvent_DeleteList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di eliminare lista di prenotazioni nel db di ShortRentalSolution. Se ritorna valore minore di zero allora si otterrà anche un messaggio di errore</wsdl:documentation>
      <wsdl:input message="tns:LocationEvent_DeleteListSoapIn" />
      <wsdl:output message="tns:LocationEvent_DeleteListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Location_Insert_Update">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Permette di archiviare una nuova location o di farne l'update, restituendo l'ID del db di ShortRentalSolution. Se minore di zero allora si otterrà anche un messaggio di errore</wsdl:documentation>
      <wsdl:input message="tns:Location_Insert_UpdateSoapIn" />
      <wsdl:output message="tns:Location_Insert_UpdateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSSoap" type="tns:WSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocationEvent_Insert_Update">
      <soap:operation soapAction="http://www.shortrentalsolution.com/LocationEvent_Insert_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LocationEvent_Insert_UpdateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationEvent_Delete">
      <soap:operation soapAction="http://www.shortrentalsolution.com/LocationEvent_Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LocationEvent_DeleteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationEvent_DeleteList">
      <soap:operation soapAction="http://www.shortrentalsolution.com/LocationEvent_DeleteList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:LocationEvent_DeleteListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Location_Insert_Update">
      <soap:operation soapAction="http://www.shortrentalsolution.com/Location_Insert_Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:Location_Insert_UpdateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSSoap12" type="tns:WSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LocationEvent_Insert_Update">
      <soap12:operation soapAction="http://www.shortrentalsolution.com/LocationEvent_Insert_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LocationEvent_Insert_UpdateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationEvent_Delete">
      <soap12:operation soapAction="http://www.shortrentalsolution.com/LocationEvent_Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LocationEvent_DeleteAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LocationEvent_DeleteList">
      <soap12:operation soapAction="http://www.shortrentalsolution.com/LocationEvent_DeleteList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:LocationEvent_DeleteListAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Location_Insert_Update">
      <soap12:operation soapAction="http://www.shortrentalsolution.com/Location_Insert_Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:Location_Insert_UpdateAuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS">
    <wsdl:port name="WSSoap" binding="tns:WSSoap">
      <soap:address location="http://srs.cloud.magadesign.net/admin/webservice/WS.asmx" />
    </wsdl:port>
    <wsdl:port name="WSSoap12" binding="tns:WSSoap12">
      <soap12:address location="http://srs.cloud.magadesign.net/admin/webservice/WS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>